
body{
  margin: 0;
  text-align: center;
  background-color: #BFFFF0;
}
.image{
  border-radius: 100%;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 80px;
  color: #66BFBF;
  line-height: 2.4;
}
h2{
  color: #11999E;
  font-size: 30px;
}
h4{
  font-size: 23px;
  color: #66BFBF;
  font-weight: normal;
}
.top{
  position: relative;
  padding-top: 100px;
}
.middle{
  background-color: Red;
  width: 200px;
  height: 200px;
}
.bottom{
  background-color: Blue;
  width: 200px;
  height: 200px;
}
.fourth_cloud{
  position: absolute;
}
.first_cloud{
  position: absolute;
  top: 50px;
  left: 70%;
}
.second_cloud{
  position: absolute;
  top: 100px;
  left: 10%;
}
.third_cloud{
  position: absolute;
  top: 250px;
  right: 10%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.center{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.bike{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
}
.programming{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
}
.cricket{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 30px;
}
.chess{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 30px;
}
.footer-link{
  color: #11999E;
}
.end{
  text-align: right;
}
